body::-webkit-scrollbar {
  width: 0px;
}

body {
  color: white;
}

#question-two{
    background-color: #BFC0F9;
}

#question-three{
    background-color: #C4C4E9;
}

.index-hero {
  height: 100vh;
  background-image: url(../images/kardashians.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kar-title {
  text-align: center;
  color: white;
  font-size: 64px;
}

.holo-logo {
  width: 30%;
  margin-bottom: 0;
}

.holo-link {
  color: black;
  text-decoration: none;
  margin-top: 20px;
}

.enter-quiz {
  color: white;
  text-decoration: underline;
  font-size: 24px;
  position: absolute;
  bottom: 45px;
}

#question-one {
  background-color: #a7a7ec;
}

#question-four{
    background-color: #A7A7EC;
}

#question-five{
    background-color: #C4C4E9;
}

#question-six{
    background-color: #BFC0F9;
}

.general-container {
  margin: 0 15%;
  max-width: 960px;
  padding: 0;
}


.blue-text {
  color: #252be7;
}

.quiz-section {
  max-width: 100vw;
  height: 100vh;
  display: flex;
//   align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.hero {
  text-align: center;
}

.title-p {
  margin-top: 100px;
}

.begin-button {
  color: lightseagreen;
  cursor: pointer;
  margin-top: 100px;
}

.down-arrow {
  width: 55px;
  transform: rotate(90deg);
  border: 1px solid lightseagreen;
  border-radius: 100%;
  padding: 5px;
  margin-top: 25px;
}

// .two-column-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: 1fr;
//     grid-column-gap: 150px;
//     grid-row-gap: 0px;

//     @media only screen and (max-width:1000px){
//         display: grid;
//         grid-template-columns: repeat(1, 1fr);
//         grid-template-rows: 1fr;
//         grid-column-gap: 100px;
//         grid-row-gap: 0px;
//     }
// }

.form-flex {
  display: flex;
  flex-direction: column;
}

.birthday {
  margin-bottom: 50px;
  margin-top: 50px;
}

.form-button {
  width: 150px;
}

::placeholder {
  color: #333333;
}

.numbers {
  margin: 5px 0;
}

#finished {
  text-align: center;
  background-image: url("../images/final.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.form-input {
  @media only screen and (max-width: 1000px) {
    margin-top: -400px;
  }
}

main {
  @media only screen and (max-width: 1000px) {
    padding: 5%;
  }
}
